<a href="https://colab.research.google.com/github/taibgoulart/on29-python-s11-projeto-guiado-II/blob/main/exercicios/para-casa/1_criando_banco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
import sqlite3

In [2]:
csv_file = 'MICRODADOS_ENEM_2018.csv'
db_file = 'banco_de_dados_enem_2018.db'

In [3]:
with open(csv_file, newline='', encoding='ISO-8859-1') as file:
    reader = csv.reader(file)
    header = next(reader)
    data = [row for row in reader if len(row) == 19]

In [4]:
with sqlite3.connect(db_file) as connection:
    cursor = connection.cursor()

In [5]:
cursor.execute('''CREATE TABLE IF NOT EXISTS dados_enem (
        NU_INSCRICAO INT,
        NU_ANO INT,
        TP_FAIXA_ETARIA INT,
        TP_SEXO VARCHAR,
        TP_ESTADO_CIVIL VARCHAR,
        TP_COR_RACA INT,
        TP_NACIONALIDADE INT,
        TP_ST_CONCLUSAO INT,
        TP_ANO_CONCLUIU INT,
        TP_ESCOLA INT,
        TP_ENSINO INT,
        IN_TREINEIRO INT,
        CO_MUNICIPIO_ESC INT,
        NO_MUNICIPIO_ESC VARCHAR,
        CO_UF_ESC INT,
        SG_UF_ESC VARCHAR,
        TP_DEPENDENCIA_ADM_ESC INT,
        TP_LOCALIZACAO_ESC INT,
        TP_SIT_FUNC_ESC INT
    )''')

In [6]:
conteudo_tabela = '''
        INSERT INTO dados_enem (
            NU_INSCRICAO, NU_ANO, TP_FAIXA_ETARIA, TP_SEXO, TP_ESTADO_CIVIL, TP_COR_RACA,
            TP_NACIONALIDADE, TP_ST_CONCLUSAO, TP_ANO_CONCLUIU, TP_ESCOLA, TP_ENSINO,
            IN_TREINEIRO, CO_MUNICIPIO_ESC, NO_MUNICIPIO_ESC, CO_UF_ESC, SG_UF_ESC,
            TP_DEPENDENCIA_ADM_ESC, TP_LOCALIZACAO_ESC, TP_SIT_FUNC_ESC
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''

In [7]:
cursor.executemany(conteudo_tabela, data)

In [8]:
selecionar_tudo = "SELECT * FROM dados_enem"

In [9]:
entradas = cursor.execute(selecionar_tudo).fetchall()

In [10]:
for entrada in entradas:
    print(entrada)